command alias -H "AutoLayout will get the root view and recursively dump all the subviews and their frames" -h "Recursively dump views" -- AutoLayout expression -l objc -O -- [[[[[UIApplication sharedApplication] keyWindow] rootViewController] view] recursiveDescription]
command alias cpo expression -l objc -O -- 
command alias lpo expression -l %1 -O --